<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/css/first.css">
	<link rel="stylesheet" type="text/css" href="/css/reset_global.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Slab|Lora|Satisfy|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery/jquery.cookie.js"></script> 
    <script src="/js/index.js"></script>
</head>

<body>
	<header>
		<div class="global-nav">
			<h1>丸熊酱</h1>
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="/resum">简历</a></li>
				<li><a href="">作品</a></li>
			</ul>
		</div>
	</header>
	<div class="wrapper">
		
		
	<footer>
		<p>@copy Xiong</p>
	</footer>
</body>
</html>