<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf8">
    </head> 
    <!--<link rel="stylesheet" href="/lib/jquery/jquery.mobile-1.4.5.css">-->

    <script src="/lib/jquery/jquery.min.js"></script>

    <script src="/lib/jquery/jquery.cookie.js"></script> 
    <script src="/js/index1.js"></script>

    <!--<script src="/lib/jquery/jquery.mobile-1.4.5.js"></script>-->
    <body>
        <div id="loading">加载中...
        </div>
        <img src="/picture/lime.png" width="50px" alt="">
        <p id="error">hello, world!</p>
        <p id="new">我是new</p>
        <!--点击按钮，将后端请求内容写入-->
		<input type="button" id="bt"/>
		<div id="res">我是替换文本</div>
		<button id="lol">load</button>
        <form id="form1" action="#">
            <p>评论:</p>
            <p>姓名:<input type="text" name="username" id="username"/></p>
             <p>内容:<textarea name="content" id="content" rows="2" cols="20"></textarea></p>
            <p><input type="button" id="send" value="提交"></p>
        </form>
        <div class="comment">已有评论: </div>
            <div id="resText"></div>
        </div>
        <label>用户名:<input typa="text" name = "user1" id = "user1"></label>
        <label>密码:<input typa="password" name = "password1" id = "password1"></label>
        <input type="checkbox" id="check1">记住我
        <br>
        <button id = "log">登录</button>
        
        
        
    </body>
</html>
