<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实战</title>
	<link rel="stylesheet" type="text/css" href="/CSS/mooc1.css">
	<script type="text/javascript" src = "/lib/mooc1.js"></script>
	<script src="/lib/myFocus/js/myfocus-2.0.1.min.js"></script>
	<script type="text/javascript">
		myFocus.set({id:"boxID",pattern:"mF_expo2010",time:3,trigger:"mouseover",txtHight:"default",width:1000,height:318});
	</script>
</head>
<style>

</style>
<body>
	<div class="top">
		<div class="top_content">
			<ul>
				<li><a href="#" onclick="AddFavorite(window.location, document.title)">加入收藏</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#" onclick="SetHome(window.location)">设为首页</a></li>
			</ul>
		</div>
	</div>
	<div class="wrap">
		<div class ="logo">
			<div class="logo_left">
			<img src="/picture/mooc1/logo.jpg" alt="慕课网">
			</div>
			<div class="logo_right">
				<p>24小时服务热线<span>123-456-789</span></p>
			</div>
		</div>
		<div class="nav">
			<div class="nav_left">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">关于慕课</a></li>
					<li><a href="#">新闻动态</a></li>
					<li><a href="#">课程中心</a></li>
					<li><a href="#">在线课程</a></li>
					<li><a href="#">人才招聘</a></li>
				</ul>
			</div>
			<div class="nav_right">
				<input type="text">
				<img src="/picture/mooc1/search.jpg" alt="搜索">
			</div>
		</div>
		<div class="ad" id="boxID">
			<div class="loading"><img src="/picture/mooc1/loading.gif" alt="图片加载中"></div>
			<div class="pic">
				<ul>
					<li><img src="/picture/mooc1/ad4.jpg" alt="" text="图片1"></li>
					<li><img src="/picture/mooc1/ad4.jpg" alt="" text="图片2"></li>
					<li><img src="/picture/mooc1/ad2.jpg" alt="" text="图片3"></li>
					<li><img src="/picture/mooc1/ad3.jpg" alt="" text="图片4"></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="news">
				<div class="news_title">
					<a href="#">More&gt;&gt;</a>
					<h3>新闻中心</h3>
				</div>
				<div class="news_pic">
					<img src="/picture/mooc1/news.jpg" alt="news">
					<h4><a href="">520慕女神喊你来表白</a></h4>
					<p>活动时间：5月20日—5月25日<br/>获奖公布时间：5月26日</br><span><a href="/mooc1list.html">learn More&gt;&gt;</a></span></p>
				</div>
				<div class="news_list">
					<ul>
						<li><span>2014-06-01</span><a href="#">【慕客访谈 用户篇】“有为屌丝”在路上</a>              </li>
						<li><span>2014-06-01</span><a href="#">【慕客访谈 用户篇】“有为屌丝”在路上</a></li>
						<li><span>2014-06-01</span><a href="#">【慕客访谈 用户篇】“有为屌丝”在路上</a></li>
						<li><span>2014-06-01</span><a href="#">【慕客访谈 用户篇】“有为屌丝”在路上</a></li>
					</ul>
				</div>
			</div>
			<div class="course">
				<div class="course_title">
				    <a href="/mooc1list.html">More&gt;&gt;</a>
					<h3>课程中心</h3>
				</div>
				<div class="course_pic">
					<img src="/picture/mooc1/course.jpg" alt="news">
					<h4><a href="#">CSS圆角进化论</a></h4>
					<p>CSS圆角的实现，经历了三大发展阶段：背景图片方式、CSS2.0+HTML标签模拟、CSS3.0圆角属性）。本案例详细讲解每一种的实现方式，并对实现的优缺点进行对比分析。</p>
			    </div>
			    <div class="course_list">
			    	<ul>
			    		<li>PHP开发</li>
			    		<li>前端开发</li>
			    		<li>JAVA开发</li>
			    		<li>Android开发</li>
			    	</ul>
			    </div>
			</div>
			<div class="sidebar">
				<div class="sidebar_title">
					<a href="/mooc1list.html">More&gt;&gt;</a>
					<h3>媒体聚焦</h3>
				</div>
				<div class="audio">
					<video class="video" style = "width: 225px; height: 150px;" controls = "true" poster="/picture/mooc1/beijing.png">
						<source src="http://player.youku.com/player.php/sid/XNjkzMDE5MTUy/v.swf" type="video/swf">
					</video>
				</div>
				<div class="service">
					<img src="/picture/mooc1/app.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class = "copyright">
		<div class = "copyright_content">
			<ul>
				<li>关于
					<ul>
						<li>品牌故事</li>
						<li>联系我们</li>
						<li>加入我们</li>
						<li>版权声明</li>
					</ul>
				</li>
				<li>课程
					<ul>
						<li>PHP开发</li>
						<li>前端开发</li>
						<li>JAVA开发</li>
						<li>Android开发</li>
					</ul>
				</li>
				<li>留言
					<ul>
						<li>新浪微博</li>
						<li>腾讯微博</li>
						<li>企业微信</li>
						<li>QQ空间</li>
					</ul>
				</li>
				<li>关注
					<ul>
						<li>意见反馈</li>
						<li>问题留言</li>
						<li>媒体联络</li>
						<li>在线客服</li>
					</ul>
				</li>
				<li><img src="/picture/mooc1/weixin.png" alt="微信">微信关注
					<ul>
						<li>
							<img src="/picture/mooc1/qrcode.jpg" alt="慕课网">
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>